@implements iDatabaseForm

<h3>SQLite</h3>
<DxTextBox @bind-Text=FileName/>
<DxButton Text="Browse" Click="Browse"/>

@code {
    [Parameter]
    public string FileName { get; set; }

    public SQLite()
    {
        /*if (Portable)
            FileName = "KryGamesBot.db";
        else*/
            FileName = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData), "KryGamesBot", "KryGamesBot.db");
    }

    private async Task Browse()
    {
        
        var dialog = await FilePicker.PickAsync();
        //dialog.Filters.Add(new FileDialogFilter() { Name = "SQLite", Extensions = { "db", "sqlite", "sqlite3" } });
        //var result = await dialog.ShowAsync(MainWindow.Instance);
        if (dialog.FullPath != null)
        {
            FileName = dialog.FullPath;
        }
    }

    public string ConnectionString()
    {
        return $"Data Source={FileName};";
    }

    public string Provider()
    {
        return "SQLite";
    }

    public bool Validate()
    {
        return FileName != null;
    }
}
