#themesMenu li > a > .image.default {
    background: #007bff;
}

#themesMenu li > a > .image.blazing-berry {
    background: #5c2d91;
}

#themesMenu li > a > .image.blazing-dark {
    background: #9b17e2;
}

#themesMenu li > a > .image.cerulean {
    background: #2fa4e7;
}

#themesMenu li > a > .image.cyborg {
    background: #060606;
}

#themesMenu li > a > .image.flatly {
    background: #dce4ec;
}

#themesMenu li > a > .image.journal {
    background: #eb6864;
}

#themesMenu li > a > .image.litera {
    background: #4582ec;
}

#themesMenu li > a > .image.lumen {
    background: #158cba;
}

#themesMenu li > a > .image.lux {
    background: #1a1a1a;
}

#themesMenu li > a > .image.pulse {
    background: #593196;
}

#themesMenu li > a > .image.simplex {
    background: #d9230f;
}

#themesMenu li > a > .image.solar {
    background: #b58900;
}

#themesMenu li > a > .image.superhero {
    background: #df691a;
}

#themesMenu li > a > .image.united {
    background: #e95420;
}

#themesMenu li > a > .image.yeti {
    background: #008cba;
}

#themesMenu li > a > .image.purple {
    background: #7989ff;
}

#themesMenu li > a > .image.office-white {
    background: #fe7109;
}
