@inherits LayoutComponentBase
<HeadContent>
    
    @foreach (var item in _activeTheme.StylesheetLinkUrl)
    {
        <link href="@item" rel="stylesheet" />
    }
</HeadContent>
<div class="main">
    @Body
</div>
@code {
    bool _themeSwitcherShown = false;
    public static ThemeItem _activeTheme = ThemeItem.Default;
}