@using KryGamesBot.MAUI.Blazor.Services;
@inherits LayoutComponentBase;
@inject IThemeService themeService;
<HeadContent>
    
    @foreach (var item in _activeTheme.StylesheetLinkUrl)
    {
        <link href="@item" rel="stylesheet" />
    }
</HeadContent>
<div class="container-fluid main">
    @Body
</div>
@code {
    bool _themeSwitcherShown = false;
    public ThemeItem _activeTheme = ThemeItem.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _activeTheme =  themeService.CurrentTheme;
        themeService.OnThemeChanged += OnThemeChanged;
    }

    public void OnThemeChanged(object sender, EventArgs e)
    {
        _activeTheme = themeService.CurrentTheme;
        InvokeAsync(StateHasChanged);
    }
}