@implements KryGamesBot.MAUI.Blazor.Interfaces.ISettingScreen;
@using Classes;
@using DoormatBot.Helpers;
<h3>LiveBetSettings</h3>
<p>KryGamesBot has a chart and table showing the bets the bot places in real time, allowing you to monitor the progression and behaviour of your strategy. These settings control how many bets to show in each.</p> 
<p>These controls have a direct effect on the speed and performance of the bot, and the default settings were determined to be a good balance between impact on performance and showing enough data to be usefull.</p>
<div>
    Number of bets in live bet grid <DxSpinEdit @bind-Value="LiveBets" />
    Number of bets in profit chart <DxSpinEdit @bind-Value="ChartBets" />
</div>
@code {
    [Parameter]
    public PersonalSettings Settings { get; set; }

    int LiveBets 
    {
        get => UISettings.Settings.LiveBets; 
        set => UISettings.Settings.LiveBets = value; 
    }
        
    int ChartBets 
    {
        get => UISettings.Settings.ChartBets; 
        set => UISettings.Settings.ChartBets = value; 
    }
}
