<h3>SessionStats</h3>
<DxTabs>
    <DxTabPage Text="Basic Stats">
        <div>
            <h5 class="stat">Time Running</h5>
            <p class="stat">@Stats?.RunningTimeSpan.ToString("dd\\ hh\\:mm\\:ss")</p>
        </div>
        <div>
            <h5 class="stat">Profit</h5>
            <p class="stat">@Stats?.Profit</p>
        </div>
        <div>
            <h5 class="stat">Wagered</h5>
            <p class="stat">@Stats?.Wagered</p>
        </div>
        <div>
            <h5 class="stat">Bets</h5>
            <p class="stat">@Stats?.Bets</p>
        </div>
        <div>
            <h5 class="stat">Wins</h5>
            <p class="stat">@Stats?.Wins</p>
        </div>
        <div>
            <h5 class="stat">Losses</h5>
            <p class="stat">@Stats?.Losses</p>
        </div>
        <div>
            <h5 class="stat">Best Streak</h5>
            <p class="stat">@Stats?.BestStreak</p>
        </div>
        <div>
            <h5 class="stat">Worst Streak</h5>
            <p class="stat">@Stats?.WorstStreak</p>
        </div>
        <div>
            <h5 class="stat">Profit / Hour</h5>
            <p class="stat">@Stats?.ProfitPerHour</p>
        </div>
        <div>
            <h5 class="stat">Profit / 24 hours</h5>
            <p class="stat">@Stats?.ProfitPer24Hour</p>
        </div>
        <div>
            <h5 class="stat">Current Streak</h5>
            <p class="stat">@Stats?.CurrentStreak</p>
        </div>
        <div>
            <h5 class="stat">Avg Profit/Bet</h5>
            <p class="stat">@Stats?.ProfitPerBet</p>
        </div>
        <div>
            <h5 class="stat">Luck</h5>
            <p class="stat">@Stats?.luck</p>
        </div>
    </DxTabPage>
    <DxTabPage Text="More Stats">

        <div>
            <h5 class="stat">Avg Streak</h5>
            <p class="stat">@Stats?.AvgStreak</p>
        </div>
        <div>
            <h5 class="stat">Avg Win Streak</h5>
            <p class="stat">@Stats?.AvgWin</p>
        </div>
        <div>
            <h5 class="stat">Avg Lose Streak</h5>
            <p class="stat">@Stats?.AvgLoss</p>
        </div>
        <div>
            <h5 class="stat">3 Best Streaks</h5>
            <p class="stat">@Stats?.BestStreak</p>
        </div>
        <div>
            <h5 class="stat"></h5>
            <p class="stat">@Stats?.BestStreak2</p>
        </div>
        <div>
            <h5 class="stat"></h5>
            <p class="stat">@Stats?.BestStreak3</p>
        </div>
        <div>
            <h5 class="stat">3 Worst Streaks</h5>
            <p class="stat">@Stats?.WorstStreak</p>
        </div>
        <div>
            <h5 class="stat"></h5>
            <p class="stat">@Stats?.WorstStreak2</p>
        </div>
        <div>
            <h5 class="stat"></h5>
            <p class="stat">@Stats?.WorstStreak3</p>
        </div>
        <div>
            <h5 class="stat">Largest Bet</h5>
            <p class="stat">@Stats?.LargestBet</p>
        </div>
        <div>
            <h5 class="stat">Largest Win</h5>
            <p class="stat">@Stats?.LargestWin</p>
        </div>
        <div>
            <h5 class="stat">Largest Loss</h5>
            <p class="stat">@Stats?.LargestLoss</p>
        </div>


    </DxTabPage>
    </DxTabs>




@code {
    [Parameter]
    public DoormatBot.Helpers.SessionStats Stats { get; set; }

    public SessionStats()
    {

    }

    public void RefreshStats()
    {
        InvokeAsync(StateHasChanged);
    }
}
