<div>
<h5 class="stat">Balance</h5>
    <p class="stat">@stats?.Balance</p>
</div>
<div>
<h5 class="stat">Profit</h5>
    <p class="stat">@stats?.Profit</p>
</div>
<div>
<h5 class="stat">Wagered</h5>
    <p class="stat">@stats?.Wagered</p>
</div>
<div>
<h5 class="stat">Wins</h5>
    <p class="stat">@stats?.Wins</p>
</div>
<div>
<h5 class="stat">Losses</h5>
    <p class="stat">@stats?.Losses</p>
</div>
<div>
<h5 class="stat">Total Bets</h5>
    <p class="stat">@(stats?.Wins + stats?.Losses)</p>
</div>

@code {

    [Parameter]
    public DoormatCore.Sites.SiteStats stats { get; set; }

public SiteStats()
    {
        
    }

    public void RefreshStats()
    {
        InvokeAsync(StateHasChanged);
    }
}
