<div class="settingsBorder">
    <div class="groupHeader"><h4>Site Stats</h4></div>
<div>
<h5 class="stat">Balance</h5>
        <p class="stat">@stats?.Balance.ToString("n8")</p>
</div>
<div>
<h5 class="stat">Profit</h5>
        <p class="stat @(stats.Profit>=0?"text-success":"text-danger" )">@stats?.Profit.ToString("n8")</p>
</div>
<div>
<h5 class="stat">Wagered</h5>
        <p class="stat">@stats?.Wagered.ToString("n8")</p>
</div>
<div>
<h5 class="stat">Wins</h5>
        <p class="stat text-success">@stats?.Wins</p>
</div>
<div>
<h5 class="stat">Losses</h5>
        <p class="stat text-danger">@stats?.Losses</p>
</div>
<div>
<h5 class="stat">Total Bets</h5>
    <p class="stat">@(stats?.Wins + stats?.Losses)</p>
</div>
</div>
@code {

    [Parameter]
    public DoormatCore.Sites.SiteStats stats { get; set; }

public SiteStats()
    {
        
    }

    public void RefreshStats()
    {
        InvokeAsync(StateHasChanged);
    }
}
