@using DoormatCore.Games;
@using KryGamesBot.MAUI.Blazor.Interfaces;
@implements iPlaceBet;
<h3>ManualDiceBet</h3>

<div class="settingContainer">
    <div>
    <div class="settingContainer">
        <div class="settingContainer">
<span class="settingLabel">Bet</span>
<DxSpinEdit @bind-Value="@Amount" />
            </div>
            <div class="settingContainer">
                
<span class="settingLabel">Chance</span>
<DxSpinEdit @bind-Value="@Chance" />
</div>
        </div>
        <div class="settingContainer">
<span class="settingLabel">Payout</span>
<DxSpinEdit @bind-Value="@Payout" />

<span class="settingLabel">Profit</span>
<DxSpinEdit @bind-Value="@Profit" />
</div>
    </div>

    <div>
    <DxButton Text="Bet High" Click="BetHigh_Click"/>
           
            <DxButton Text="Bet Low" Click="BetLow_Click"/>
    </div>
</div>
            
@code {
    private decimal amount;

    public decimal Amount
    {
        get { return amount; }
        set { amount = value;  Calculate(nameof(Amount)); }
    }

    private decimal chance;

    public decimal Chance
    {
        get { return chance; }
        set { chance = value;  Calculate(nameof(Chance)); }
    }

    private decimal payout;

    public decimal Payout
    {
        get { return payout; }
        set { payout = value;  Calculate(nameof(Payout)); }
    }

    private decimal profit;

    public decimal Profit
    {
        get { return profit; }
        set { profit = value;  Calculate(nameof(Profit)); }
    }

    [Parameter]
    public decimal Edge { get; set; } = 1;
    [Parameter]
    public EventCallback<PlaceBetEventArgs> PlaceBet { get; set; }

    public ManualDiceBet()
    {
        Amount = 0.00000100m;
        Chance = 49.5m;
    }

    void Calculate(string s)
    {
        switch (s)
        {
            case nameof(Amount):
                if (Profit != (Amount * Payout) - Amount)
                {
                    Profit = (Amount * Payout) - Amount;
                }
                break;
            case nameof(Chance):
                if (Chance != 0)
                {
                    if (Payout != (100m - Edge) / Chance)
                    {
                        Payout = (100m - Edge) / Chance;
                    }
                }
                break;
            case nameof(Payout):
                if (Chance != 0)
                {
                    if (Chance != (100m - Edge) / Payout)
                    {
                        Chance = (100m - Edge) / Payout;
                    }
                    if (Profit != Amount * Payout - Amount)
                        Profit = Amount * Payout - Amount;
                }
                break;
        }
    }
    

    private void BetHigh_Click(MouseEventArgs e)
    {
        PlaceBet.InvokeAsync( new PlaceBetEventArgs(new PlaceDiceBet(Amount, true, Chance)));
    }

    private void BetLow_Click(MouseEventArgs e)
    {
        PlaceBet.InvokeAsync(new PlaceBetEventArgs(new PlaceDiceBet(Amount, false, Chance)));
    }
}
